
h1 a{
    font-size: 2em;
    color: #ece7f2;
    background-color: #0b0a0c;

   
    
    
   
}

ul{
    list-style:none;
    display: flex;
    gap:2px;
    padding:2px;
   
}

nav ul {
    padding-right: 0;
    flex-direction: row;
    margin: auto;
    color: #ece7f2;
    background-color: #0b0a0c;
    gap: 1em;
    
}


nav ul li {
    display: row;
    border-style: solid;
    border-color: #ece7f2;
    color: rgb(219, 230, 230);
    padding:5px;
    text-align: center;
    
    
    
}

nav ul li a{
    color: #ece7f2;
    display:flex;
    text-align: center;

}






table{
    width:100%
    
    

    
    

}

td{
    padding:10px 4px;
    text-align: center
    
    
    

    
}

tr{
    background-color: rgb(63, 121, 208)
    
    
}

.resize.img{
    width: 5px;
    
  
    
}