
h2 a{
    font-size: 17px;
    color: #502b0c;
    border-style: none;
    display:flex;
    position: center;
    

 

    
}



.container{
   
    width:100%;
   
   
}





nav{
    padding:10px 10px;
    overflow: auto;
   
    
}









    
  