
h1 a{
    font-size: 2em;
    color: #502b0c;
    border-style: none;
    display:flex;
    position: center;
    

 

    
}

nav{
    padding:10px 10px;
}



table{
    width:100%
    
    

    
    

}

td{
    padding:10px 4px;
    text-align: center
    
    
    

    
}

tr{
    background-color: rgb(85, 39, 6);
    color: aliceblue;
   
    
    
}




    
  