body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    padding:0;
    background-color: rgb(248, 246, 243);
 }

 
.Burger{
    width: 100%;
    justify-content: space-between;
    align-items:center;
    margin: 0 auto;
   
}

.cont{
   
    float: right;
    height: 25px;
    width: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.menulogo{
    height: 3px;
    width: 30px;
    background-color: rgb(4, 18, 50);
}

.menu{
    width: 50%;
    height: 45vh;
    background-color: rgb(65, 40, 7);
    padding: 10px;
    transform: translateX(-500px) ;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: flex-start;
    left: 0;
    top: 0;

   
}

.menu li{
    list-style-type: none;
    border-bottom: 1px solid rgb(234, 224, 224);
    padding: 10px 0;
    text-align: center;
}

.showmenu{
    transform: translateX(0);
}

.menu li:last-child{
    border-bottom: none;
}

.menu li:first-child a{
    font-weight: bold;

}

.menu li a{
    color: rgb(233, 224, 232);
    text-decoration: none;
    font-size: 10px;
    transition: font-weight 0.2s;
}

.menu li a:hover{
    font-weight: bold;

}



@media screen and (max-width: 600px) {
    .menu li a{
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .menu {
        display: flex;
        flex-direction: row;
        width: auto;
        height: auto;
        transform: none;
        position: static;
        padding: 0;
    
    }
    
.menu li{
    margin: 0 20px;
    list-style-type: none;
    padding: 10px;
}

.cont{
    display: none;
}
}











.right{
    width: 120px;
     gap:1em;
    float: right;
    
}

.intro{
    text-align: right;
    font-size: 15px;
    font-style: italic;
    border: 10px;
    margin: 10px;
    border-color: black;
    color: rgb(15, 12, 8);
}

.sign{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 600px;;

}

.game{
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;;
}










.top{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    border-bottom: solid;
    color: aliceblue;
    background-color: black;

 }





 .staff{

    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    background-color: rgb(62, 31, 7);
  
 }

.T{

    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: white;
    background-color: rgb(59, 39, 14);


}

.lnk{

    color: rgb(60, 42, 8);
    
   
    
}



.sign{
    position: center;
    width: 350px;
    height: 400px;;
}


.collegemap{

    position: center;
    width: 700px;
    height: auto;;

}

.sideleft{
    float: left;
    width:50%;
    height:auto;
    
    

}

.sideright{
    float: right;
    width:50%;
    height:auto;
    

}

.right{
    float: right;
    width:90px;
    height:auto;

}

.facts{
    padding-left: 5px;
     padding-right: 5px;
     padding-top: 5px;
     padding-bottom: 5px;
     border-style:double;
     border-color: rgb(59, 35, 2);
     text-align: center;
}
    
    
 
 .space{
    text-align: center;
   


 }

 .cent{
    text-align: center;
    font-size: 2em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

    
 }

 .copyr{
    text-align: center;
    font-size: 15px;
 }
 .news{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: rgb(95, 49, 2);
    
    
 }


 table{
    width:100%;
    border-collapse: collapse;
    table-layout: fixed;
    

}

tr{
     padding:3px 1px;
     
     
     
 }
 td{
     padding-left: 1px;
     padding-right: 1px;
     padding-top: 1px;
     padding-bottom: 1px;
     border-style: solid;
     border-color: rgb(51, 33, 7);
   
 
 }

 @media(max-width){
    table{
        width:100%;
}

td{
    padding: 1px;
    font-size:12px;
}
 }


.cou{
    position:relative;
    text-align: center;
   

    
    
}

.center{
    position: absolute;
    
    bottom: 10%;
    left:30%;
    color: #f2f0ee;
  font-size: 60px;
 
}




.cour{
   
    width: 650px;
    height: auto;;
    border-style:solid;
    border-color: #120c02;
    padding: 5px;
    
    

}



.des{

    width: 650px;
    height: auto;;
    border-style:solid;
    border-color: #120c02;
    padding: 5px;
    
    

}


.resize{
    width: 100%;
    height:auto;
    border: solid;
   border-color: black;

   
}



#image{
    width:100%;
    height: auto;
    
}


    
 footer{
     color: rgb(243, 246, 240);
     font-size: 1em;
     background-color: rgb(59, 39, 14);
     font-style: italic;
     padding: 5px;
     margin: auto;
    
    
 }


 