body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin: 0;
    padding:0;
    background-color: rgb(248, 246, 243);
 }
 
 
.right{
    width: 120px;
     gap:1em;
    float: right;
    
}




 .top{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    border-bottom: solid;
    color: aliceblue;
    background-color: black;

 }

 .staff{

    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: white;
    background-color: rgb(62, 31, 7);
  
 }

.T{

    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4em;
    color: white;
    background-color: rgb(59, 39, 14);


}

    
    
 
 .space{
    text-align: center;
    font-size: 17px;


 }

 .cent{
    text-align: center;
    font-size: 3em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

    
 }

 .news{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: rgb(95, 49, 2);
    
    
 }






table{
    width:flex;
    
    
 
    
    
}
 
 tr{
     padding:10px 4px;
     text-align: center
     
     
 }
 td{
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 10px;
     padding-bottom: 10px;
     border-style: solid;
     border-color: rgb(51, 33, 7);
   
 
 }
 footer{
     color: rgb(243, 246, 240);
     size: 5em;
     background-color: rgb(59, 39, 14);
     font-style: italic;
     padding: 5px;
     text-align:center
 }

